[Unit]
Description=Meta API Flask Webhook Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/meta
ExecStart=/var/www/meta/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
